<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventRouterSettings" type="foo"/>
    <section name="eventPersistSettings" type="foo2"/>
  </configSections>

  <eventRouterSettings>
    <!-- refreshIncrement should be about 1/3 of what the expirationIncrement is -->
    <!-- This setting needs to be consistent across all the machines in the eventing network -->
    <subscriptionManagement refreshIncrement="3"  expirationIncrement="10"/>

    <localPublish eventQueueName="WspEventQueue" eventQueueSize="102400000" averageEventSize="10240"/>

    <!-- nic can be an alias which specifies a specific IP address or an IP address -->
    <!-- port can be 0 if you don't want to have the router open a listening port to be a parent to other routers -->
    <thisRouter nic="" port="1300" bufferSize="1024000" timeout="100000" />

    <!-- <parentRouter name="ParentMachineName" port="1300" bufferSize="1024000" timeout="10000" />  -->

  </eventRouterSettings>

  <eventPersistSettings>
    <!-- <event type="*" localOnly="false" tempFileDirectory="c:\temp\AllEvents\" copyToFileDirectory="c:\temp\AllEvents\log\" />  -->
    <!-- <event type="78422526-7B21-4559-8B9A-BC551B46AE34" localOnly="false" tempFileDirectory="c:\temp\WebEvents\" copyToFileDirectory="c:\temp\WebEvents\log\" /> -->
  </eventPersistSettings>
</configuration>