<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="eventRouterSettings" type="Microsoft.WebSolutionsPlatform.Configuration.EventRouterSettings"/>
    <section name="hubRoleSettings" type="Microsoft.WebSolutionsPlatform.Configuration.HubRoleSettings"/>
    <section name="nodeRoleSettings" type="Microsoft.WebSolutionsPlatform.Configuration.NodeRoleSettings"/>
    <section name="groupSettings" type="Microsoft.WebSolutionsPlatform.Configuration.GroupSettings"/>
    <section name="logSettings" type="Microsoft.WebSolutionsPlatform.Configuration.LogSettings"/>
  </configSections>

  <!-- role = {hub, node} -->
  <!-- group = <name> -->
  <!-- autoConfig = {true, false} -->
  <!-- mgmtGuid = <GUID> -->
  <!-- cmdGroup = <GUID> -->
  <!-- publish = {true, false}  **Only ONE of the hub servers should be configured to publish. This server will be master for the global config file. -->
  <!-- bootstrapUrl = <URL> **This will be called to retrieve the config file if mgmtGuid does not exist or if the file is corrupt. -->

  <eventRouterSettings role="hub" group="DC1" autoConfig="true" mgmtGuid="D979AEB4-C501-4027-BBCA-C38F7B56FD00" cmdGuid="C8EDEB22-7E4A-4441-B7B4-419DDB856321" publish="true"/>

  <!-- refreshIncrement should be about 1/3 of what the expirationIncrement is. -->
  <!-- This setting needs to be consistent across all the machines in the eventing network. -->
  <!-- <subscriptionManagement refreshIncrement="3"  expirationIncrement="10"/> -->

  <!-- <localPublish eventQueueName="WspEventQueue" eventQueueSize="102400000" averageEventSize="10240"/> -->

  <!-- These settings control what should happen to an output queue when communications is lost to a parent or child.-->
  <!-- maxQueueSize is in bytes and maxTimeout is in seconds.-->
  <!-- When the maxQueueSize is reached or the maxTimeout is reached for a communication that has been lost, the queue is deleted.-->
  <!-- <outputCommunicationQueues maxQueueSize="200000000" maxTimeout="600"/> -->

  <!-- nic can be an alias which specifies a specific IP address or an IP address. -->
  <!-- port can be 0 if you don't want to have the router open a listening port to be a parent to other routers. -->
  <!-- <thisRouter nic="" port="1300" bufferSize="1024000" timeout="30000" /> -->

  <hubRoleSettings>
    <subscriptionManagement refreshIncrement="3" expirationIncrement="10"/>
    <localPublish eventQueueName="WspEventQueue" eventQueueSize="102400000" averageEventSize="10240"/>
    <outputCommunicationQueues maxQueueSize="20000000" maxTimeout="600"/>
    <thisRouter nic="" port="1300" bufferSize="1024000" timeout="5000"/>
    <peerRouter numConnections="1" port="1300" bufferSize="1024000" timeout="5000"/>
  </hubRoleSettings>

  <nodeRoleSettings>
    <subscriptionManagement refreshIncrement="3" expirationIncrement="10"/>
    <localPublish eventQueueName="WspEventQueue" eventQueueSize="10240000" averageEventSize="10240"/>
    <outputCommunicationQueues maxQueueSize="20000000" maxTimeout="600"/>
    <parentRouter numConnections="1" port="1300" bufferSize="1024000" timeout="5000"/>
  </nodeRoleSettings>

  <groupSettings>
      <group name="DC1" useGroup="">
        <hub name="keithh"/>
      </group>

    <group name="DC2" useGroup="DC1">
    </group>

    <!-- 
    <group name="DC3" useGroup="">
        <hub name="server1"/>
        <hub name="server2"/>
      </group>
      -->

      <group name="default" useGroup="DC1">
      </group>
  </groupSettings>

    <!-- type specifies the EventType to be persisted.-->
    <!-- localOnly is a boolean which specifies whether only events published on this machine are persisted or if events from the entire network are persisted.-->
    <!-- maxFileSize specifies the maximum size in bytes that the persisted file should be before it is copied.-->
    <!-- maxCopyInterval specifies in seconds the longest time interval before the persisted file is copied.-->
    <!-- fieldTerminator specifies the character used between fields.-->
    <!-- rowTerminator specifies the character used at the end of each row written.-->
    <!-- tempFileDirectory is the local directory used for writing out the persisted event data.-->
    <!-- copyToFileDirectory is the final destination of the persisted data file. It can be local or remote using a UNC.-->

  <logSettings>
    <!-- <log eventType="78422526-7B21-4559-8B9A-BC551B46AE34" localOnly="true" maxFileSize="2000000000" maxCopyInterval="60" createEmptyFiles="false"
            fieldTerminator="," rowTerminator="\n" tempFileDirectory="c:\temp\WebEvents\" copyToFileDirectory="c:\temp\WebEvents\log\" /> -->

    <!-- <log eventType="78422526-7B21-4559-8B9A-BC551B46AE35" localOnly="true" maxFileSize="2000000000" maxCopyInterval="60" createEmptyFiles="false"
            fieldTerminator="," rowTerminator="\n" tempFileDirectory="c:\temp\WebEvents\" copyToFileDirectory="c:\temp\WebEvents\log\" /> -->
  </logSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
